* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;


}

/* FORCING AOS SCROLL ANIMATION REST FOR THE ENTIRE PAGE */
[data-aos] {
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

[data-aos].aos-animate {
  opacity: 1;
}


/* Preloader styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 21, 37, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 10s ease;
}

#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Preloader image */
.preloader-gif {
  width: 20%;
  height: auto;
}

.navSection {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content:space-between;
  align-items: end;
  padding: 0.5rem 3rem;
  background-color: #071333;
}

.navSection.scrolled {
  background-color: rgba(14, 21, 37, 0.8);
  backdrop-filter: blur(4px);
}

.nameIkenna {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items:end;
}

.navItem {
  text-decoration: none;
  font-size: 1.5rem;
  color: #939DAB;
  transform: color 0.3s;
}

.navItem:hover {
  cursor: pointer;
  color: white;
}

.navItem:active {
  color: white;
  transform: scale(0.8);
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
} 

.heroSection {
  position: relative;
  height: 110vh;
  background-image: url('./medias/ruijia-wang-_cX76xaZB5A-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.introSection {
  position: relative;
  margin-left: 4rem;
  padding-top: 8rem;
  color:white;
  z-index: 3;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.introSection h3 {
  font-size: 2rem;
}

.introSection h1 {
  font-size: 3rem;
}

.introSection p {
  font-size: 1.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contacButton {
  background-color: #0C203B; 
  color: white;
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: 500;
  border: 4px solid white;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.contacButton:hover {
  background-color: #4a8194;
  border: 4px solid black;
}

.mySocials {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  font-size: 3rem;
}

.mySocials a {
  color: #E3EEB2;
  transition: transform 0.5s ease-in-out;
}

.mySocials a:hover {
  transform: rotate(1440deg);
}

.profileImage {
  display: flex;
  justify-content: center;
  z-index: 4;
}

.profileImage img{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 0.3rem solid white;
  z-index: 4;
}

/* ABOUT SECTION */
.about {
  width: 100%;
  height: 70%;
  padding: 3rem;
  color: white;
  font-size: 1.3rem;
  background-image: url('./medias/christina-wocintechchat-com-rg1y72eKw6o-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4); 
  background-blend-mode: darken;
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(7, 19, 51, 0.9);
  padding: 4rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.aboutContent h2 {
  margin-bottom: 3rem;
}

/* MY PROJECT SECTION */
.myProjects {
  background-color: #0e162b;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.myProjects h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.project {
  height: 21rem;
  width: 23rem;
  background-color: #0C203B;
  border: 2px solid white;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #f0f0f0;
  gap: 0.8rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.project img {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 6px;
}

.projectText {
  text-align: center;
  padding: 0 0.5rem;
}

.projectText h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.3rem;
  font-weight: 700;
  color: #ffffff;
}

.projectText p {
  font-size: 0.95rem;
  color: #cccccc;
  line-height: 1.4;
}

/* PROJECT BUTTON */
.projectButton {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 1.1rem;
  font-weight: 400;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.projectButton:hover {
  background-color: #4a8194;
  color: #0C203B;
}

/* MY SKILLS */
.mySkills {
  background-color: #1c273c;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySkills h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 4rem;
}

.skill {
  height: 8rem;
  width: 8rem;
  border-radius: 1rem;
  
}

.skill img {
  width: 100%;
  border-radius: 1rem;
}

/* CONTACT */

.contact-section {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e1525;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 3rem 1rem;
  text-align: center;
}

.subtitle {
  color: #ccc;
  margin: 0.5rem 0 2rem;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.contact-left,
.contact-form {
  flex: 1 1 25rem;
  background-color: #111b2d;
  padding: 2rem;
  border-radius: 8px;
  text-align: left;
}

.contact-left h2,
.contact-form h3 {
  margin-bottom: 1.5rem;
  color: #fff;
}

.contact-left p {
  margin-bottom: 2rem;
  color: #aaa;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.info-item span {
  font-size: 24px;
  color: #a15cff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  background-color: #1a263b;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
}

.contact-form button {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, #4e00ff, #7f00ff);
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: linear-gradient(to right, #3700b3, #4e00ff);
}




/* RESPONSIVENESS */

@media (max-width: 768px) {

/* Make nav vertical and hidden on mobile */
.hamburger {
  display: block;
  /* margin-right: 0.5rem; */
}

.navSection {
  padding: 0.5rem 2rem;
}

.nav {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #071333;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 200px;
  display: none;
  z-index: 1000;
  border-radius: 10px;
}

.nav.active {
  display: flex;
}

.hero {
  padding: 1rem;
}

.nameIkenna{
  font-size: 2rem;
}

.introSection {
  margin-top: 2rem;
  margin-left: 2rem;
  padding-top: 3rem;
}

.introSection h3 {
  font-size: 2rem;
}

.introSection h1 {
  display: none;
  font-size: 2rem;
}

.introSection p {
  font-size: 1.2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.contacButton {
  background-color: #0C203B; 
  color: white;
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: 500;
  border: 4px solid white;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
  animation: pulse 1s infinite;
}

.mySocials {
  gap: 1.5rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.profileImage {
  margin-top: 3rem;
}

.profileImage img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 0.2rem solid white;
}

/* ABOUT SECTION */
.about {
  width: 100%;
  height: 70%;
  padding: 1rem;
  font-size: 1rem;
}

.aboutContent {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.aboutContent h2 {
  margin-bottom: 1rem;
}

.project {
  height: 21rem;
  width: 23rem;
  background-color: #0C203B;
  border: 2px solid white;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #f0f0f0;
  gap: 0.8rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.project img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border: 2px solid #fff;
}

.projectText {
  text-align: center;
  padding: 0 0.5rem;
}

.projectText h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.3rem;
  font-weight: 700;
  color: #ffffff;
}

.projectText p {
  font-size: 0.95rem;
  color: #cccccc;
  line-height: 1.4;
}

/* PROJECT BUTTON */
.projectButton {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 1.1rem;
  font-weight: 400;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

}

/* For tablets */
@media (min-width: 768px) and (max-width: 1366px) {
  .profileImage {
  margin-top: 15rem;
}

.profileImage img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 0.4rem solid white;
}
}



